@import "./commonElements/commons.scss";

.home {
    
    .presentation {
        &__buttons {
            margin-top: 50px;

            button {
                @include styledButton;
                margin: 15px 0px;
    
                &.subtle {
                    background-color: inherit;
                    border: 2px solid $white;
                }
            }
        }
    }

    &__checking {
        background-color: $dark-black;
        padding: $standard-padding;

        .datepicker-toggle {
            display: inline-block;
            position: relative;
            width: 18px;
            height: 19px;
        }

        .datepicker-toggle-button {
            position: absolute;
            left: 0;
            top: 0px;
            width: 100%;
            height: 100%;
            background-image: url("../assets/icons/calendarColor.webp");
            background-size: 15px;
            background-repeat: no-repeat;
        }

        .datepicker-input {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            box-sizing: border-box;
        }

        .datepicker-input::-webkit-calendar-picker-indicator {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }

        .division {
            height: 2px;
            background-color: $pale-gold;
            margin-top: 9px;
            margin-bottom: 30px;
        }

        label {
            font-weight: 700;
            line-height: 19px;
            color: white;
            display: block;
            margin-bottom: 15px;
        }
        
        input[type="text"] {
            background-color: inherit;
            color: $dark-grey;
            outline: none;
            border: none;
            margin-left: 22px;
            font-size: 14px;
            line-height: 16px;
        }

        button {
            @include styledButton($width:250px);
        }
    }

    &__about {
        padding: $standard-padding;
        margin-top: 60px;
        position: relative;
        
        .background {
            background-color: $light-grey;
            position: absolute;
            z-index: -1;
            top:0;
            left: 0;
            width: 100%;
            height: 640px;
        }
        
        button {
            @include styledButton;
            margin: 30px 0px;
        }

        h3{
            margin: 30px 0px 20px;
        }
    }

    &__pick-room {
        text-align: center;
        margin-top: 30px;

        h3 {
            margin-top: 20px;
        }

        .attributes {
            background-color: $white;
            margin: 0px auto;
            max-width: 310px;
            width: 60%;
            height: 40px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            @include filters;
            position: relative;
            transform: translateY(15px);
            z-index: 2;
        }

        #swiper-rooms {
            width: 100%;
            height: 420px;

            .square-button {
                color: $darker-black;
                --swiper-navigation-size: 9px;
                padding: 16px;
                background-color: white;
                transform: translateY(-320%);

                &:hover {
                    background-color: $pale-gold;
                    color: white;
                }
            }

            img {
                height: 244px;
                width: 335px;
            }

            .description {
                background-color: $white;
                width: 300px;
                height: 215px;
                margin: auto;
                padding: 20px 25px;
                transform: translateY(-20px);

                div {
                    margin-bottom: 10px;

                    h4 {
                        margin-bottom: 15px;
                    }
                }
            }
        }

    }
}
