h1, h2, h3, h4, h5, h6 {
    font-family: "Old Standard TT";
}

p, label {
    font-family: Roboto;
}

button, span, input, input::placeholder, a, li {
    font-family: Archivo;
}

.none {
    display: none;
}

.filler {
    height: 70px;
}

.presentation {
    background-color: $light-black;
    width: 100%;
    padding: 80px 20px 100px;

    p {
        @include styledParagraph;
    }

    h2 {
        @include styledHeaders;
        margin-top: 20px;
    }
}