@import "./variables.scss";

@mixin styledButton($theme: $pale-gold, $width: 216px) {
    background-color: $theme;
    color: $white;
    line-height: 15px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2.8px;
    cursor: pointer;
    border: none;
    width: $width;
    height: 60px;
    border-radius: 0;
    appearance: none;
    text-transform: uppercase;
  }

  @mixin styledParagraph($theme: $grey) {
    font-family: Archivo;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2.8px;
    line-height: 18px;
    text-transform: uppercase;
    color: $theme;
  }

  @mixin styledHeaders($theme: $darker-black) {
    font-family: "Old Standard TT";
    font-weight: 400;
    font-size: 56px;
    letter-spacing: -1.2px;
    line-height: 60px;
    text-transform: capitalize;
    color: $theme;
  }

  @mixin logo() {
    margin-top: 3px;
    
    .letter {
      display: inline-block;
      padding: 10px;
      background-color: white;
      font-weight: 700;
      font-size: 17px;
      box-shadow: 0px 14px 24px 0px #8B8B8B40;
      transform: translateY(-17%);
    }

    .name {
      margin-left: 3px;
      display: inline-block;
      text-transform: uppercase;
      width: 50px;

      span {
          display: block;
      }

      span:nth-child(1) {
          font-weight: 700;
      }
    }
  }