//colors
$darker-black: #111;
$dark-black: #222;
$medium-black: #292929;
$light-black: #333;
$white: #FFF;
$light-grey: #F9F9F9;
$pale-grey: #C2C2C2;
$grey: #777;
$dark-grey: #686868;
$pale-gold: #BEAD8E;
$red: #DE5777;
$standard-padding: 55px 20px 20px;